.title__wrapper{
    border-bottom: 1px solid #CFCFCF;
    display: flex;
    padding: 1rem;
    
    h3{
        font-size: 1.125rem;
    }
    
    .title--product{
        width: calc(90px + 45%);
    }
    
    .title--quantity{
        width: 20%;
    }
    
    .title--price{
        width: 20%;
    }
}

.title__wrapper > h3{
    margin: 0 .25rem;
}
