.info__wrapper{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 120px;
    padding: 1rem;
    
    h3{
        font-size: 1.25rem;
    }
    
    .title--product{
        width: calc(40% + 90px);
    }
    
    .title--quantity{
        width: 20%;
    }
    
    .title--price{
        width: auto;
    }
}

.info__wrapper > div{
    margin: 0 .25rem
}