.cart-sumary__wrapper{
    background-color: #FFF;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px #CFCFCF;
    grid-area: summary;
    margin-left: 1rem;
    padding: 1.5rem;
    width: 100%;

    h3{
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    .summary-total-price{
        border-top: 1px solid #CFCFCF;
        padding: 1rem 0;
    }
}