.recommended-product__card{
    align-items: center;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 2px 10px 10px #CFCFCF;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
    width: calc(100% / 4 - 1rem);
}

@media screen and (max-width: 768px){
    .recommended-product__card{
        box-shadow: none;
        width: 100%;
    }
}