.recommendation-section{
    box-sizing: border-box;
    overflow: hidden;
    grid-area: recommendation;
}

.recommendation-list__title{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.recommendation-list{
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    width: 100%;
}

@media screen and (max-width: 768px){
    .recommendation-section{
        order: 2;
        padding: 2rem;
    }
}

