.product{
    grid-area: product;
    max-width: 100%;

    img{
        align-items: center;
        display: flex;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px){
    .product{
        grid-area: product;
        max-width: 50%;
    
        img{
            align-items: center;
            display: flex;
        }
    }
    
}