.footer{
    align-items: center;
    background-color: #F8F8F8;
    border-top: 1px solid #CFCFCF;
    box-sizing: border-box;
    display: flex;
    height: 96px;
    justify-content: space-between;
    overflow: hidden;
    padding: 1rem 3.25rem;

    ul {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        li{
            max-width: 36px;
        }
    }
    
}

.contact{
    p{
        margin: .5rem 0;
    }

    a{
        color: #5B00AF;
        font-size: 1.125rem;
        font-weight: 700;
        height: 48px;
        width: 200px;
    }
}

@media screen and (max-width: 768px){
    .footer{
        align-items: flex-start;
        flex-direction: column;
        gap: 2rem;
        height: auto;

        h1{
            text-align: center;
            width: 100%;
        }
    }
}